{% extends 'account/main.html' %}
{% block content %}
<h2 class="mb-4">WASTE BIN MANAGEMENT SYSTEM</h2>
<div class="card">
  <div class="card-header text-center">
    <h3 class="font-weight-bold text-dark">ECE 405 PROJECT</h3>
  </div>
  <div class="card-body">
    <h5 class="text-dark">
      Effective waste bin management is crucial for maintaining a clean and healthy environment. A well-organized waste bin management system ensures that waste is disposed of properly, reducing the risk of pollution and promoting sustainability. In this system, waste bins are strategically placed in public areas, residential zones, and commercial spaces to collect waste efficiently. The bins are designed to separate different types of waste, such as recyclables, organics, and non-recyclable materials, making it easier to process and dispose of them.
    </h5>
  </div>
</div>
      
{% endblock content %}